
/* style của navbar */

.myfont {
    font-family: 'Lobster', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 :root {
    --main-color: #182870;
    --sub-color: #EAA023;
    --color-1: #191F3A;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@media (min-width: 992px) {
    .offcanvas {
        visibility: visible;
        position: relative;
        background: none;
        border: none;
        justify-content: end;
        color: #191F3A;
    }
  
    
}

.mybackgroundMain {
    background-color: var(--main-color);
}

.mycolorMain {
    color: var(--sub-color);
}

.mybackground1 {
    background-color: var(--color-1);
}

@media (max-width: 992px) {
    .offcanvas {
        width: 250px !important;
    }
    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(-100%);
    }
}

@media (max-width:430px) {
    .offcanvas {
        width: 250px !important;
    }
    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(-100%);
    }
    
}

.nav-item {
    transition: 0.5s;
    font-weight: bold;
}

.navbar-nav li a {
    color: white !important;
}

.myShoppingCart::after {
    margin-left: 20px;
    position: absolute;
    margin-top: -29px;
    margin-left: 80px;
    display: flex;
    content: attr(count);
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.navbar-nav>.nav-item:hover {
    transform: translate(0, -10%);
}

.navbar-nav> .nav-item:hover::before {
    position: absolute;
    content: '';
    background-color: var(--sub-color);
    height: 70%;
    top: 30%;
    transform: translate(0, -18%);
    z-index: -1;
    animation: hoverMenu 0.7s forwards;
    clip-path: polygon(0 0, 87% 0%, 100% 50%, 87% 100%, 0 100%);
}

@keyframes hoverMenu {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.ss-top>.active::before {
    width: 100%;
    height: 100%;
    background-color: #191F3A;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    animation: navbarOut 0.5s ease forwards;
    transform: translateY(-100%);
}

@keyframes navbarOut {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0px);
    }
}

/* content */

.ss-san-pham .card img {
    width: 100%;
}

.ss-san-pham .card {
    width: 100%;
    height: 100%;
    color: #C21975;
    overflow: hidden;
}

.ss-san-pham .card .card-body .btn-xem-chi-tiet {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    transform: translateX(170%);
}

.ss-san-pham .card .card-body .add-to-cart {
    position: absolute;
    top: 55%;
    left: 10%;
    width: 80%;
    transform: translateX(-170%);
}

@keyframes chuyenNut {
    from {
        transform: translateX(170%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes chuyenNut1 {
    from {
        transform: translateX(-170%);
    }
    to {
        transform: translateX(0);
    }
}

.ss-san-pham .card .card-body .my-3 {
    position: absolute;
}

.ss-san-pham .card:hover .card-body .my-5 {
    position: relative;
}

.ss-san-pham .card:hover .card-body .btn-xem-chi-tiet {
    animation: chuyenNut forwards ease 0.5s;
}

.ss-san-pham .card:hover .card-body .add-to-cart {
    animation: chuyenNut1 forwards ease 0.5s;
}

.ss-san-pham .card .card-body .btn:hover {
    animation: tora forwards ease 1s;
    transform: translateX(0);
}

@keyframes tora {
    from {
        width: 80%;
        left: 10%;
    }
    to {
        width: 90%;
        left: 5%;
    }
}

.ss-san-pham .card:hover .card-body .image-item img {
    transform: rotateZ(-20deg) translateX(-10%);
    width: 130%;
    transition: all 1s;
}

.like::after {
    content: '';
    left: 2708%;
    top: -30%;
    background-color: var(--main-color);
    position: absolute;
    width: 120%;
    height: 110%;
    transform: translateX(300%);
}

.fa-heart {
    position: absolute;
    top: 3%;
    left: 87%;
    color: white;
    transform: translateX(300%);
}

.ss-san-pham .card:hover .fa-heart {
    animation: chuyenNut 0.5s forwards ease;
}

.ss-san-pham .card:hover .like::after {
    animation: chuyenNut 0.5s forwards ease;
}

.text-gach {
    text-decoration: line-through;
}

.ss-san-pham .card::before {
    content: attr(khuyenmai);
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: 16px;
    position: absolute;
    background-color: var(--sub-color);
    width: 18%;
    height: 15%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}

.btn-xem-chi-tiet {
    color: magenta;
    font-weight: bold;
    background-color: #f0fc0bd1;
}

.add-to-cart {
    color: magenta;
    font-weight: bold;
    background-color: #f0fc0bd1;
}

body {
    position: relative;
    height: 100%;
}


/* footer */

footer p {
    font-size: small;
    margin-left: 4%;
    text-align: justify;
}

footer h5 {
    text-align: center;
}

a {
    text-decoration: none;
}

footer p a {
    color: var(--sub-color);
}


/* copied */

.main {
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.footer-wrapper .footer-icon,
.footer-wrapper .footer-icon:visited {
    display: inline-block;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 0;
    line-height: 60px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}

.footer-wrapper .footer-icon:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer-wrapper .footer-icon,
.footer-wrapper .footer-icon:before,
.footer-wrapper .footer-icon svg {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    outline: 0;
}

.footer-wrapper .footer-icon:before {
    top: 90%;
    left: -110%;
}

.footer-wrapper .footer-icon:focus,
.footer-wrapper .footer-icon:hover {
    background-color: transparent;
}

.footer-wrapper .footer-icon svg {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    height: 60px;
    margin: auto;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-wrapper .footer-icon.facebook:before {
    background-color: #3b5998;
}

.footer-wrapper .footer-icon.twitter:before {
    background-color: #3cf;
}

.footer-wrapper .footer-icon.google:before {
    background-color: #dc4a38;
}

.footer-wrapper .footer-icon.linkedin:before {
    background-color: #0072FF;
}

.footer-wrapper .footer-icon.youtube:before {
    background-color: #E02F2F;
}

.footer-wrapper .footer-icon.youtube:hover svg g path,
.footer-wrapper .footer-icon.youtube:focus svg g path {
    fill: #fff;
}

.footer-wrapper .footer-icon.youtube:hover svg g polygon,
.footer-wrapper .footer-icon.youtube:focus svg g polygon {
    fill: #E02F2F;
}

.footer-wrapper .footer-icon.instagram:before {
    background-color: #C21975;
}


/* .footer-wrapper .footer-icon.instagram:hover svg,
  .footer-wrapper .footer-icon.instagram:focus svg {
    filter: invert(200%) sepia(50%) saturate(1) hue-rotate(100deg) brightness(100%) 
   fill : #FFF;
  }*/

.footer-icon.instagram:hover svg {
    fill: #FFF;
}

.footer-wrapper .footer-icon:focus:before,
.footer-wrapper .footer-icon:hover:before {
    top: -10%;
    left: -10%;
}

.footer-wrapper .footer-icon:focus svg,
.footer-wrapper .footer-icon:hover svg {
    fill: #fff;
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-box {
    background-color: transparent;
    width: 100%;
    height: 370px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: 10px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
}


/* Style the front side (fallback if image is missing) */

.flip-box-front {
    background-color: #bbb;
    color: black;
    border-radius: 10px;
}

.flip-box-front img {
    border-radius: 10px;
}


/* Style the back side */

.flip-box-back {
    background-color: var(--color-1);
    color: white;
    transform: rotateY(180deg);
}


/* scan text */

.scan-text {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 2px aqua;
}

.scan-text::before {
    color: white;
    position: absolute;
    content: "VDSHOP";
    width: 0%;
    border-right: 2px solid aqua;
    text-shadow: 0px 0px 10px aqua, 0px 0px 20px aqua, 0px 0px 30px aqua;
    overflow: hidden;
    height: 100%;
    transition: 1s;
    animation: myanimation1 4s infinite;
    text-overflow: clip;
}

@keyframes myanimation1 {
    0% {
        width: 0;
    }
    50% {
        width: 101%;
    }
    100% {
        width: 0;
    }
}


/* ss2 */
.themebgcolor{
    background-color: #182870;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.main-bg{
    background-color: #00ABE9;
}
.border-radius{
    border-radius: 10px;
}
.nav-tabs .nav-link.active {
    background-color: #1965A6; /* Màu xanh */
    color: white; /* Màu chữ trắng khi chọn */
  }
  .contact-btn {
    position: fixed;
    bottom: 14%;
    right: 20px;
    background-color: #007bff;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: white;
    padding: 15px;
    z-index: 999;
    width: 280px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transform: translateY(100px) rotate(-30deg);
    display: none;
    animation: slideUpAndRotate 1s ease-out forwards; /* Hiệu ứng */
  }
  .contact-btn:hover{

  }
  @keyframes slideUpAndRotate {
    0% {
      opacity: 0;
      transform: translateY(100px) rotate(-30deg); /* Dưới và xoay nghiêng */
    }
    50% {
      opacity: 0.5;
      transform: translateY(50px) rotate(-15deg); /* Giữa chừng */
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0); /* Kết thúc tại vị trí bình thường */
    }
  }
  /* Hiệu ứng biến mất */
@keyframes slideDownAndRotate {
    0% {
      opacity: 1;
      transform: translateY(0) rotate(0); /* Bắt đầu từ vị trí bình thường */
    }
    50% {
      opacity: 0.5;
      transform: translateY(50px) rotate(15deg); /* Giữa chừng */
    }
    100% {
      opacity: 0;
      transform: translateY(100px) rotate(30deg); /* Dưới và xoay nghiêng */
      display: none;
    }
  }
  
  /* Thêm class biến mất */
  .fade-out {
    animation: slideDownAndRotate 0.5s forwards; /* Thời gian và hướng animation */
  }
  .btn-mess{
    bottom: 23%;
  }
  .btn-contact{
    bottom: 32%;
  }
  .support-icon{
    z-index: 999;

    position: fixed;
    bottom: 20px;
    right:  20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 6px 20px;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
  /* Nút cuộn lên đầu trang */
  .scroll-top-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color:#007bff;
    color: white;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 20px;
    cursor: pointer;
    display: none; /* Ẩn khi chưa cuộn xuống */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
  
